# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Plotly
5. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

__Objectives:__
- List popular languages for Data Science.
- Libraries Used by Data Scientists.
- Tools For Data Science.
- Basic Python Operations.
- Practice Using Jupyter Notebooks.

## Author
Arpita Sonparote